    <div class="form-group">
        <label for="Pojistovna">Pojišťovna</label>
        <input type="text" id="Pojistovna" name="Pojistovna" value="@Model.Pojistovna" class="form-control" />
    </div>